<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qzkj.demo.mapper.FtpUpLoadMapper">

    <insert id="addUpLoad" parameterType="com.qzkj.demo.pojo.FtpUpLoad">
      insert into ftpuploadbean(eNB,avgSpeed,maxSpeed,testTime)
      values (#{eNB},#{avgSpeed},#{maxSpeed},#{testTime})
    </insert>

</mapper>
